<p id="weather_data"><%= @json %></p>
<!-- <p>  The current temperature in <%#= params["city"].capitalize %> is <%#= @weather.temperature %> centigrade. It feels like <%#= @weather.feels_like %>. Today's low is <%#= @weather.min_temp %> and the high is <%#= @weather.max_temp %>  </p>-->
